*{
    padding: 0px;
    margin:0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: rgb(36, 34, 34);
  padding-left: 25px;
  
}

.navbar a {
  float: left;
  font-size: 12px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 12px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.social-icons{
    float: right;
    margin-right: 50px;
}
.img{
    width: 100%;
  height: 100px;
  background-image: url('/images/img.png');
  background-size: 100% 100%;
  
}
#header{
    display: flex;
     width: 1339px;
     background-color: rgb(184, 5, 5);
     padding: 5px;
     overflow: hidden;
}
#item{
    display: flex;
    
}
#search{
    float:right;
    
    color: white;

}
#header ul {
    
    
    margin:0px;
    list-style-type:none;
    text-align:center;
    
    }

#header a{
    color: white;
    
    padding-left: 100px;
    padding-right: 10px;
   
}
#header ul li a{
    text-decoration: none;
    color: white;
    justify-content: space-between;
    padding:  8px;
    font-size: small;
    transition: 0.5s;
    
    
}
#header ul li a:hover{
    background-color: white;
    color: rgb(36, 34, 34);
    
}
.container{
    padding: 25px;
     width:1100px;
     margin: auto;
    
    
}
.content{
    display: flex;
    padding: 15px;
}
.text{
    padding-left: 25px;
}

#footer{
	background-color:rgb(36, 34, 34);
	margin:0px;
	height:auto;
 text-align:center;
 padding-top: 2px;
}
#footer ul {
padding:10px;
margin-top:50px;
margin-left:20px;
list-style-type:none;
text-align:left;


}
#footer ul li{
display:inline;
}
#footer ul li a{
text-decoration:none;
font-family:Arial;
padding:.2em 1em;
color:white;
transition: 0.5s;
}
#footer ul li a:hover{
	color: gray;
}
#copy{
	color:white;
	text-align:center;
    padding: 25px;
    font-size: small;
    
}